#safraPay{
    grid-area: safraPay;
    display: flex;
    flex-direction: column;
    background: #EAEBEF;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#safraPay-maquininhas{
    padding: 20px 20px 0 20px;
    background: #EAEBEF;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: auto;
    justify-content: space-between;
}

.safraPay-inicial{
    width: 80%;
    text-align: center;
    align-self: center;
    margin-top: 50px;
}

.safraPay-inicial img{
    width: 50%;
}

#safraPay-pro{
    grid-column: 1/2;
}

#safraPay-slim{
    grid-column: 2/3; 
}

#safraPay-mini{
    grid-column: 3/4;  
}

#safraPay-smart{
    grid-column: 4/5;
}

#safraPay-pro, #safraPay-slim, #safraPay-mini, #safraPay-smart{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 20px;
}

.safra-caixa{
    text-align: center;
    height: 170px;
}

.safra-pro{
    width: 20%;
    align-self: center;
    padding: 10px;
}

.safra-titulo{
    color: #00001E;
    align-self: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.safra-especificacao{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-self: center;
    padding: 30px 15px;
}

.caixa-economia{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    width: 70%;
    height: 30px;
    background: #00001E;
    color: #ffffff;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

.safra-economia{
    font-size: 20px;
    align-self: center;
}

.safra-precoDesconto{
    text-decoration: line-through;
    color:rgb(62, 62, 62);
    align-self: center;
    padding: 5px;
}

.safra-precoReal{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-self: center;
}

.safra-valorFinal{
    color: #00001E;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.safra-comprar{
    background: #00001E;
    border-radius: 10px;
    margin: 5px;
    border: 0px;
    padding: 10px;
    align-self: center;
    width: 80%;
    color: #ffffff;
    font-weight: bold;
}

@media screen and (max-width:650px) {
    #safraPay-maquininhas{
    grid-template-rows: auto auto;
    }

    .safra-especificacao-caixa{
        display: flex;
        height: 150px;
        justify-content: center;
    }

    .safra-caixa-desconto{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .safraPay-inicial img {
        width: 90%;
    }

    #safraPay-pro{
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 15px;
    }

    #safraPay-slim{
    grid-column: 3/5; 
    grid-row: 1/2;
    margin-bottom: 15px;
    }

    #safraPay-mini{
    grid-column: 1/3;  
    grid-row: 2/3;
    }

    #safraPay-smart{
    grid-column: 3/5;
    grid-row: 2/3;
    }

    .safra-caixa {
    height:120px;
    }

    .safra-especificacao{
    padding: 30px 6px;
    }

    .safra-economia{
    font-size: 14px;
    }

    .caixa-economia {
        
        width: 80%;
    }

    .safra-comprar{
        width: 80%;
    }

    .safra-valorFinal {
    margin-top: 20px;
    font-size: 35px;
    }
}

@media screen and (min-width: 651px) and (max-width:1100px){
    .safraPay-inicial img {
        width: 70%;
    }

    .safra-caixa {
        height: 100px
    }

    .safra-titulo {
        font-size: 17px;
    }    

    .safra-especificacao-caixa{
        display: flex;
        height: 200px;
    }

    .safra-economia {
        font-size: 13px;
    }

    .caixa-economia {
        width: 90%;
    }

    .safra-valorFinal {
        font-size: 30px;
    }

    .safra-caixa-desconto{
        display:flex;
        flex-direction:column;
        height: 120px;
    }
}


