#maquininhas{
    padding:0px 40px 0 40px;
    display: grid;
    grid-template-areas: 
    'inicio'
    'mercadoPago'
    'pagSeguro'
    'safraPay'
    'ton'
    'sumUp';
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 100%;
}


@media screen and (max-width:550px) {
    #maquininhas{
        padding: 0px;
    }
}

