#maquininhas{
    padding:0px 40px 0 40px;
    display: grid;
    grid-template-areas: 
    'mercadoPago'
    'pagSeguro'
    'safraPay'
    'ton'
    'sumUp';
    grid-template-rows: auto auto auto auto auto;
}
