#mp-simulacao{
    background: #009EE3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 150px;
}

.mp-pessoa{
    margin-bottom: 15px;
}

.mp-calculadora{
    width: 70%;
    background: #ffffff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

.mp-dados{
    grid-column: 1/2;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    border: 10px solid #ffffff;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mp-resultado{
    grid-column: 2/3;
    padding: 20px;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#mp-simulacao h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

.mp-dados-txt{
    align-self: center;
    font-size: 23px;
    margin-bottom: 70px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

.mp-dados-container{
    width: 80%;
}

.mp-dados-container label{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.mp-dados input, .mp-dados select{
    padding: 15px;
    border: 1px solid rgb(36, 165, 245);
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.mp-dados input{
    width: 90%;
}

.mp-dados select{
    width: 100%;
}

.mp-resultado-txt{
    color: #080808;
    font-size: 23px;
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

.mp-resultado p {
    color: #4e4e4f;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 30px;
}

.mp-resultado-container{
    width: 80%;
}

.mp-tipoResultado h3{
    color: #000000;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.mp-resultadoParcelas{
    display: flex;
}

.mp-x-parcelas{
    margin-left: 10px;
    color: #ffffff;
    background: #00001E;
    border: 0px;
    font-size: 18px;
}

.mp-menu{
    display: flex;
    justify-content: flex-start;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 25px;
}

.mp-liPreco{
    color: #009EE3;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    margin-right: 18px;
}

.mp-liPreco10{
    color: #009EE3;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    margin-right: 8px;
}

.mp-liTaxa{
    color: #858585;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    border-left: 2px solid #1d1d1d;
    padding-left: 10px;
}
